include _env
doctype html
html(lang='en')
    head
        include _head
    body
        // Uncomment the code below to start developing
        include components/_welcome
        include components/_content
        include _script
